<div class="container mt-4">
    <ul class="list-group">
        <% products.each do |(product, purchased)| %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <%= product %> <% if purchased %><span class="badge badge-primary">purchased</span><% end %>
            </li>
        <% end %>
    </ul>
</div>
