<div style="width: 40rem" class="mx-auto mt-5">
  <h1 class="mb-4">
    Sign Up
    <small class="text-muted">Learn How to Code</small>
  </h1>
  <form action="/signup" method="post">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" name="username">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" name="email">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password">
    </div>
    <div class="float-right">
      <button class="btn btn-primary">Sign up</button>
    </div>
  </form>
</div>
