<div style="width: 40rem" class="mx-auto mt-5">
  <h1 class="mb-4">Sign Up to Learn How to Code</h1>
  <form action="/signup" method="post">
    <div class="form-group">
      <label for="displayname">Name</label>
      <input type="text" class="form-control" id="displayname" name="displayname">
    </div>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" name="username">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" name="email">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password">
    </div>
    <div class="form-group">
      <label for="reenterd-password">Re-Enter Password</label>
      <input type="password" class="form-control" id="reentered-password" name="reentered_password">
    </div>
    <div class="float-right">
      <button class="btn btn-primary">Sign Up</button>
    </div>
  </form>
</div>
