<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Learn How to Code--Mentoring in Computer Programming">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />

    <title>Learn How to Code--Mentoring in Computer Programming</title>
  </head>
  <body>
    <main class="container">
      <%= __content__ %>
    </main>
  </body>
</html>
