<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Learn How to Code--Mentoring in Computer Programming">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/fontawesome.min.css" />

    <title>Learn How to Code--Mentoring in Computer Programming</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">
        <span class="text-uppercase">D&eacute;lon R. Newman</span>
        <span class="font-italic">Mentoring</span>
      </a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">
            <i class="fas fa-home"></i>
          </a>
        </li>
        <!-- li class="nav-item">
          <a class="nav-link" href="/help">
            <i class="fas fa-question"></i>
            Help
          </a>
        </li -->
      </ul>
      <% if current_user %>
        <span class="navbar-text mr-3">
          Hello <%= current_user.first_name %>
        </span>
        <a class="btn btn-outline-secondary btn-sm" data-method="post" href="/logout">
          <i class="fas fa-sign-out-alt"></i>
          Sign out
        </a>
      <% else %>
        <a class="btn btn-link btn-sm mr-2" href="/login">
          Sign in
        </a>
        <a class="btn btn-outline-secondary btn-sm" href="/signup">
          Sign up
        </a>
      <% end %>
    </nav>
    <main class="container">
      <%= __content__ %>
    </main>

    <script src="/state.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <% if authenticated? %>
      <script src="https://js.stripe.com/v3/"></script>
    <% end %>
    <script src="/js/application.js"></script>
  </body>
</html>
