<div class="d-flex justify-content-start align-items-center mb-3 pb-2 border-bottom">
  <%= link_to "/admin/entities/#{entity.class.canonical_name}", icon('arrow-left', 'Back'), escape: false, class: 'btn btn-link btn-sm' %>
  <h1 style="font-size: 1.5em" class="mb-0 text-muted">View <%= entity.class.canonical_name %></h1>
</div>

<dl>
<% entity.class.attributes.each do |attr| %>
  <dt><%= attr.name %></dt>
  <dd><%= entity.send(attr.name) %></dd>
<% end %>
</dl>
