<div class="d-flex justify-content-start align-items-center mb-3 pb-2 border-bottom">
  <%= link_to "/admin/#{canonical_name}", icon('arrow-left', 'Back'), escape: false, class: 'btn btn-link btn-sm' %>
  <h1 style="font-size: 1.5em" class="mb-0 text-muted">View <%= titlecase entity.class.canonical_name %></h1>
</div>

<dl>
<% entity.class.attributes.sort_by(&:display_order).reject { |a| a[:display] == false }.each do |attr| %>
  <dt><%= attr.display_name %></dt>
  <dd><%= entity.send(attr.name) %></dd>
<% end %>
</dl>
