<div class="container">
    <style>
     @media (min-width:760px) {
         .login-form {
             width: 30rem;
         }
     }
    </style>
    <div class="login-form mx-md-auto mt-5">
        <form action="/login" method="post">
            <input type="hidden" name="ref" value="<%= params['ref'] %>">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <div class="d-flex justify-content-between">
                <div>
                    Don't have an account?
                    <a href="/signup">Sign up</a>.
                </div>
                <button class="btn btn-primary">Sign in</button>
            </div>
        </form>
    </div>
</div>
